<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div>
        <div class="rps_f7e9">
          <div class="x_jira" style="color:#333333; font-family:Arial,sans-serif; font-size:14px; line-height:1.429">
            <table id="x_background-table" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f5f5f5"
              style="border-collapse:collapse; background-color:#f5f5f5; border-collapse:collapse">
              <tbody>
                <tr>
                  <td id="x_header-pattern-container" style="padding:0; border-collapse:collapse; padding:10px 20px">
                    <table id="x_header-pattern" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td id="x_header-text-container" valign="middle"
                            style="padding:0; border-collapse:collapse; vertical-align:middle; font-family:Arial,sans-serif; font-size:14px; line-height:20px">
                            <strong>Dear iLotusLand Users</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td id="x_email-content-container" style="padding:0; border-collapse:collapse; padding:0 20px">
                    <table id="x_email-content-table" cellspacing="0" cellpadding="0" border="0" width="100%"
                      style="border-collapse:collapse; border-spacing:0; border-collapse:separate">
                      <tbody>
                        <tr>
                          <td class="x_email-content-rounded-top x_mobile-expand" height="10" bgcolor="#ffffff"
                            style="padding:0; border-collapse:collapse; color:#ffffff; padding:0 15px 0 16px; height:15px; background-color:#ffffff; border-left:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:0; border-top-right-radius:5px; border-top-left-radius:5px; height:10px; line-height:10px; padding:0 15px 0 16px">
                            &nbsp;</td>
                        </tr>
                        <tr>
                          <td class="x_email-content-main x_mobile-expand" bgcolor="#ffffff"
                            style="padding:0; border-collapse:collapse; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-top:0; border-bottom:0; padding:0 15px 0 16px; background-color:#ffffff">
                            <table class="x_page-title-pattern" cellspacing="0" cellpadding="0" border="0" width="100%"
                              style="border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <td class="x_page-title-pattern-header-container"
                                    style="vertical-align:top; padding:0; border-collapse:collapse; padding-right:5px; font-size:20px; line-height:30px">
                                    <span class="x_page-title-pattern-header"
                                      style="font-family:Arial,sans-serif; padding:0; font-size:20px; line-height:30px; vertical-align:middle"><span
                                        style="color:#3b73af; text-decoration:none">
                                        There is an alert from iLotusLand Monitoring:</a>
                                    </span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="x_email-content-main x_mobile-expand x_wrapper-special-margin" bgcolor="#ffffff"
                            style="padding:0; border-collapse:collapse; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-top:0; border-bottom:0; padding:0 15px 0 16px; background-color:#ffffff; padding-top:10px; padding-bottom:5px">
                            <table class="x_keyvalue-table" style="border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <th
                                    style="min-width: 100px;color:#707070; font:normal 14px/20px Arial,sans-serif; text-align:left; vertical-align:top; padding:2px 0">
                                    Station:
                                  </th>
                                  <td
                                    style="padding:0; border-collapse:collapse; font:normal 14px/20px Arial,sans-serif; padding:2px 0 2px 5px; vertical-align:top">
                                    <span target="_blank" rel="admin noopener noreferrer" data-auth="NotApplicable"
                                      class="x_user-hover" id="x_email_admin"
                                      style="text-decoration:none">
                                      <!-- Title -->
                                      <%= title %>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <th
                                    style="color:#707070; font:normal 14px/20px Arial,sans-serif; text-align:left; vertical-align:top; padding:2px 0">
                                    Type of alert:</th>
                                  <td
                                    style="padding:0; border-collapse:collapse; font:normal 14px/20px Arial,sans-serif; padding:2px 0 2px 5px; vertical-align:top">
                                    <span class="x_diffcontext">
                                      <!-- Data Over-range -->
                                      <%= type %>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <th
                                    style="color:#707070; font:normal 14px/20px Arial,sans-serif; text-align:left; vertical-align:top; padding:2px 0">
                                    Content:</th>
                                  <td
                                    style="border-collapse:collapse; font:normal 14px/20px Arial,sans-serif; padding:2px 2px 5px 5px; vertical-align:top">
                                    <!-- Data Over-range -->
                                    <%- full_body %>
                                  </td>
                                </tr>
                                <tr>
                                  <th
                                    style="color:#707070; font:normal 14px/20px Arial,sans-serif; text-align:left; vertical-align:top; padding:2px 0">
                                    Time:
                                  </th>
                                  <td
                                    style="padding:0; border-collapse:collapse; font:normal 14px/20px Arial,sans-serif; padding:2px 0 2px 5px; vertical-align:top">
                                    <span class="x_diffcontext">
                                      <!-- time -->
                                      <%= time %> 
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="x_email-content-rounded-bottom x_mobile-expand" height="5" bgcolor="#ffffff"
                            style="padding:0; border-collapse:collapse; color:#ffffff; padding:0 15px 0 16px; height:5px; line-height:5px; background-color:#ffffff; border-top:0; border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom-right-radius:5px; border-bottom-left-radius:5px">
                            &nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td id="x_footer-pattern" style="padding:0; border-collapse:collapse; padding:12px 20px">
                    <table id="x_footer-pattern-container" cellspacing="0" cellpadding="0" border="0"
                      style="border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td id="x_footer-pattern-mobile-separated-links" class="x_mobile-resize-text" width="100%"
                            colspan="4"
                            style="display: inline; padding:0; border-collapse:collapse; color:#999999; font-size:12px; line-height:18px; font-family:Arial,sans-serif">
                            Get iLotusLand notifications on your phone! Download app for <a href="https://ilotusland.com/"
                              target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                              style="color:#3b73af; text-decoration:none">Android</a> or <a href="https://ilotusland.com/"
                              target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                              style="color:#3b73af; text-decoration:none">iOS</a>
                            <hr>
                          </td>
                        </tr>
                        <tr>
                          <td id="x_footer-pattern-text" class="x_mobile-resize-text" width="100%"
                            style="padding:0; border-collapse:collapse; color:#999999; font-size:12px; line-height:18px; font-family:Arial,sans-serif">
                            This message was sent by IlotusLand
                          </td>
                      
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
      
          </div>
        </div>
      </div>
</body>
</html>